@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable.css";

@theme {
  --font-sans: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

@layer base {
  body {
    @apply font-sans h-[297mm] w-[210mm] leading-7 tracking-tight text-gray-800 break-keep;
    width: 210mm;
    height: 297mm;

    @media (max-width: 576px) {
      @apply h-full w-full;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold text-gray-900;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply w-full pt-2.5 pb-2 text-xl;
  }

  h5 {
    @apply pt-2.5 pb-2 text-lg;
  }

  a {
    &:hover {
      @apply underline underline-offset-2;
    }
  }

  ul {
    @apply ml-6 flex flex-col gap-1 pb-2;

    li {
      @apply list-disc marker:text-gray-400;
    }
  }

  strong {
    @apply font-semibold;
  }

  blockquote {
    @apply my-2 rounded bg-gray-200/50 px-6 py-4;

    & + p {
      @apply mb-4;
    }
  }

  code {
    @apply rounded bg-gray-200/50 px-1.5 py-0.5 font-mono text-sm text-gray-700;
  }
}

@layer components {
  .markdown {
    a {
      @apply text-gray-900 underline underline-offset-2;
    }

    h3 {
      @apply mb-2;

      &:not(:first-child) {
        @apply mt-8 border-t border-gray-200/80 pt-8;
      }
    }

    h4 {
      @apply flex items-center;

      &:not(:first-child) {
        @apply mt-4;
      }

      &::after {
        @apply ml-2 block grow border-b border-gray-200/80;
        content: "";
      }
    }

    ul:last-child {
      @apply pb-0;
    }
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
    box-shadow: none;
  }
}
